
{% extends "templs/navfunc.html" %}
{% block title %} Home Funcionário {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maincli.css') }}"> {% endblock %}
{% block content %}
<div class="card card-plan">
    <div class="card-body card-body-plan">
        <h5 class="card-title card-title-plan">Cadastre Contas</h5>
        <p class="card-text">
            Cadastre novas contas de funcionários e clientes
        </p>
        <a href="/signup" class="btn UIButton">Ir para página</a>
    </div>
</div>
<div class="card card-plan">
    <div class="card-body card-body-plan">
        <h5 class="card-title card-title-plan">Atualizar Contrato</h5>
        <p class="card-text">
            Atualize o que foi definido no contrato do cliente
        </p>
        <a href="/attcontract" class="btn UIButton">Ir para página</a>
    </div>
</div>
<div class="card card-plan">
    <div class="card-body card-body-plan">
        <h5 class="card-title card-title-plan">Atualizar Cadastro</h5>
        <p class="card-text">
            Atualize o cadastro dos funcionários e clientes
        </p>
        <a href="/att" class="btn UIButton">Ir para página</a>
    </div>
</div>
{% endblock %}