{% extends "templs/navfunc.html" %}
{% block title %} Análises {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}"> {% endblock %}
{% block content %}
<!-- Formulário de Upload -->

     <!-- O formulário agora aponta para a própria rota '/analises' -->
    <form action="{{ url_for('analises') }}" method="GET" class="d-flex flex-column align-items-center justify-content-center w-100" style="background: transparent;">
        <!-- Este campo oculto envia o sinal para o backend de que queremos analisar os dados -->
        <input type="hidden" name="analisar" value="true">
        <button type="submit" class="btn UIButton mt-3">Analisar Dados</button>
    </form>

    <!-- Seção de Resultados: Só aparece se a variável 'dataframe' tiver sido recebida e não estiver vazia -->
    {% if dataframe is not none and not dataframe.empty %}
    <div class="mt-5">
        <h2 class="text-white">Resultados da Análise</h2>
        <div class="table-responsive">
            <!--
            O pandas.to_html() converte o DataFrame em uma tabela HTML.
            O filtro '| safe' é crucial, pois diz ao Flask para renderizar o HTML gerado.
            -->
            {{ dataframe.to_html(classes='table table-striped table-bordered tabela', index=False) | safe }}
        </div>
    </div>
    {% endif %}
    <div class="w-100 d-flex justify-content-center mt-3">
        <iframe  width="980" height="723" src="https://lookerstudio.google.com/embed/reporting/424e9b94-c01f-4785-bf37-1a74c1d7e308/page/FTFPF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
    </div>    
{% endblock %}