
{% extends "templs/navfunc.html" %}
{% block title %} Home Funcionário {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/maincli.css') }}"> {% endblock %}
{% block content %}
<div class="card card-plan">
    <div class="card-body card-body-plan">
        <h5 class="card-title card-title-plan">BI e Análises</h5>
        <p class="card-text">
            Faça as análises da NBI
        </p>
        <a href="/analises" class="btn UIButton">Ir para página</a>
    </div>
</div>
<div class="card card-plan">
    <div class="card-body card-body-plan">
        <h5 class="card-title card-title-plan">Semelhanças</h5>
        <p class="card-text">
            Encontre os jogadores mais semelhantes entre si
        </p>
        <a href="/semelhanca" class="btn UIButton">Ir para página</a>
    </div>
</div>
<div class="card card-plan">
    <div class="card-body card-body-plan">
        <h5 class="card-title card-title-plan">Atualizar Cadastro</h5>
        <p class="card-text">
            Atualize suas informações
        </p>
        <a href="/perfil" class="btn UIButton">Ir para página</a>
    </div>
</div>
{% endblock %}