.hidden {
    display: none;
}

form .form-control::placeholder {
    color: #3f2182;
    opacity: 1;
    font-weight: 500
}

form .form-control::-webkit-input-placeholder {
    color: #3f2182;
    font-weight: 500
}

form .form-control:-ms-input-placeholder {
    color: #3f2182;
    font-weight: 500
}

.row {
    display: flex;
    align-items: start;
}

.col-md-4 {
    flex: 1; /* Garante que todas as colunas tenham a mesma largura */
}

.form-label {
    margin-bottom: 0.5rem; /* Reduz o espaço entre o label e o select/input */
    display: block; /* Mantém o comportamento inline do label */
}

.mb-5 {
    margin-bottom: 1.5rem; /* Ajuste conforme o necessário */
}

.form-select,
.form-control {
    min-height: 2.5rem; /* Alinha os tamanhos dos inputs e selects */
}