{% extends "templs/nav.html" %}
{% block title %} Homepage {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"> {% endblock %}
{% block content %}

<!-- Primeiro Card -->
<div class="card text-white" style="padding-left: 2rem;">
    <div class="card-body">
        <h5 class="card-title">Previsões para o seu negócio</h5>
        <p class="card-text">
            Previsões para o auxílio financeiro e administrativo para a sua empresa.
            Acesso a dados preditivos a partir de bancos de dados.
        </p>
        <a href="/login" class="btn UIButton" style="width: 100%; height: 2.3rem; font-size: 1rem; margin-top: 1rem;">
            Comece sua análise
        </a>
    </div>
</div>

<!-- Segundo Card com a imagem -->
<div class="card" style="padding-right: 2rem; padding-left: 2rem; width: 100%; height: 50%;">
    <img src="{{ url_for('static', filename='img/main.jpg') }}" class="card-img-top imagem" alt="Descrição da imagem" />
</div>

{% endblock %}