{% extends "templs/nav.html" %}
{% block title %} Sobre nós {% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}"> {% endblock %}
{% block content %}
    <div class="row" style="background-color: transparent; margin: 3rem 0;">
        <div class="card-body">
            
            <h5 class="card-title text-center" style="font-size: 2rem; width: 100%;">Sobre a BCD Predict</h5>
            
            <p class="card-text mt-4" style="font-size: 1.1rem; text-align: justify;">
                BCD Predict é uma empresa focada em trazer informações e aplicações de IA's para empresas, auxiliando na gestão e na lucratividade.
            </p>
            <p class="card-text mt-4" style="font-size: 1.1rem; text-align: justify;">
                Focamos em proporcionar uma visão estratégica dos dados da sua empresa, através de um BI que auxilia na tomada de decisões de sua empresa. Além disso, nosso diferencial é a aplicação de modelos de Inteligências Artificiais personalizadas para o seu negócio que aumentará o seu lucro e minimizará suas percas, através de Modelos Preditivos, Modelos de Clusterização, Análise de Dados com NLP's (Processamento de Linguagem Natural), Regras de Associação, Análise de Séries Temporais, Modelos de Classificação e Modelos de Regressão.
            </p>
            <p class="card-text mt-4 mb-5" style="font-size: 1.1rem; text-align: justify;">
                Nosso objetivo é auxiliar as empresas a trabalhar em cima dos Dados, para que enxerguem sempre as melhores oportunidades de ganho
            </p>
            <p class="card-text mt-5" style="font-size: 1.1rem; text-align: justify;">
                Contato: BCD@predict.com
            </p>
        </div>
    </div>
{% endblock %}